.container {
  width: 100% !important;
  height: 100% !important;
  padding: 0 20% !important;
}

.inputField {
  width: 60vw;
  height: 8vh !important;
  margin: 2vh 0 !important;
}

.submitButton {
  align-self: flex-end;
  margin-top: 20vh !important;
}

@media only screen and (min-width: 600px) {
  .container {
    width: 100% !important;
    height: 100% !important;
    padding: 0 20% !important;
  }

  .inputField {
    width: 30vw;
    height: 10vh !important;
    margin: 2vh 0 !important;
  }

  .submitButton {
    align-self: flex-end;
    margin-top: 10vh !important;
  }
}
