.inputField {
  width: 100% !important;
  height: 55px !important;
  margin: 5px 0 !important;
}

@media only screen and (min-width: 600px) {
  .inputField {
    width: 100% !important;
    height: 65px !important;
    margin: 2px 0 !important;
  }
}
